[upsmon]
    password = {{ nut_upsmon_password }}
    actions = SET
    instcmds = ALL
    upsmon master

[upsmon_slave]
    password = {{ nut_upsmon_password }}
    actions = SET
    instcmds = ALL
    upsmon slave
